[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "*"}
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pydantic = "*"
alembic = "*"
dotenv = "*"
asyncpg = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
bcrypt = "4.0.1"
jinja2 = "*"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.13"
