<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/fighter.css') }}">
</head>
<body>
    <div class="fighters-container">
        {% if fighters is sequence and fighters|length > 0 %}
            {% for fighter in fighters %}
                {% include "fighter.html" %}
            {% endfor %}

        {% else %}
            {% set fighter = fighters %}
            {% include "fighter.html" %}
        {% endif %}
    </div>

</body>
</html>
